<div class="outfit-header">
  <h2>My Outfits</h2>
  <%= link_to "Add Outfit", outfit_items_new_path, class: "button-primary add-outfit-btn" %>
</div>

<div class="outfit-scroll-container">
  <% @list_of_outfits.each do |outfit| %>
    <div class="outfit-card">
      <h4><%= outfit.name %></h4>

      <p><strong>Occasion:</strong> <%= outfit.occasion.presence || "—" %></p>
      <p><strong>Season:</strong> <%= outfit.occasion.presence || "—" %></p>
      
      <p><strong>Items:</strong></p>
      <ul>
        <% outfit.items.each do |item| %>
          <li><%= item.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
