<h1>Edit <%= @item.name %></h1>

<%= form_with model: @item, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, ["Tops", "Pants", "Skirts", "Dresses", "Outerwear", "Shoes", "Accessories"] %>
  </div>

  <div>
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div>
    <%= form.submit "Update" %>
  </div>
<% end %>
