<h1>Add a New Item</h1>

<div style="max-width: 700px; margin: 0 auto;">

  <%= form_with model: @item, url: "/insert_item", multipart: true do |form| %>

    <div style="margin-bottom: 1rem;">
      <label>Name:</label>
      <%= form.text_field :name, class: "form-control", placeholder: "White shirt" %>
    </div>

    <div style="margin-bottom: 1rem;">
      <label>Category:</label>
      <%= form.select :category, ["Top", "Pants", "Shoes", "Outerwear", "Dress"], {}, class: "form-control" %>
    </div>

    <div style="margin-bottom: 1rem;">
      <label>Color:</label>
      <%= form.select :color, ["White", "Black", "Blue", "Beige", "Red", "Green"], {}, class: "form-control" %>
    </div>

    <div style="margin-bottom: 1rem;">
      <label>Upload Image:</label>
      <%= form.file_field :image_file, class: "form-control" %>
    </div>

    <%= form.submit "Create Item", class: "button-primary" %>

  <% end %>

</div>



<article>
  <ul>
    <% @list_of_items.each do |an_item| %>
      <li>
        <a href="/items/<%= an_item.id %>">
          Item #<%= an_item.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
