<div style="max-width: 700px; margin: 0 auto;">
  <h1><%= @the_item.name %></h1>

  <% if @the_item.image.attached? %>
    <%= image_tag @the_item.image, style: "max-width: 100%; height: auto;" %>
  <% end %>

  <dl>
    <dt>Category:</dt>
    <dd><%= @the_item.category %></dd>

    <dt>Color:</dt>
    <dd><%= @the_item.color %></dd>

    <dt>Created at:</dt>
    <dd><%= time_ago_in_words(@the_item.created_at) %> ago</dd>
  </dl>

  <div style="margin-top: 2rem;">
    <%= link_to "Back to Items", "/items", class: "button-secondary" %>
    <%= link_to "Delete", "/delete_item/#{@the_item.id}", class: "button-danger" %>
  </div>
</div>
