<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "My Virtual Closet" %></title>
    

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <style>
      html, body {
        height: 100%;
        margin: 0;
      }

      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }
.center-text {
  text-align: center;
}

      a {
        color: #4f7f6a;
      }

      button,
      input[type="submit"] {
        background-color: #4f7f6a;
        border-color: #4f7f6a;
      }

    </style>
  </head>

  <body class="pico">
      <header>
        <div class="container-two-thirds">
        <% if notice.present? %>
  <div class="flash-notice"><%= notice %></div>
<% end %>

<% if alert.present? %>
  <div class="flash-alert"><%= alert %></div>
<% end %>

          <nav>
            <ul>
              <li>
                <a href="/"><strong>My Virtual Closet</strong></a>
              </li>
              <% if current_user.nil? %>
                <li><a href="/users/sign_in">Log in</a></li>
                <li><a href="/users/sign_up">Sign up</a></li>
              <% else %>
                <li><a href="/users/edit">Edit profile</a></li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

              <% end %>
            </ul>
          </nav>
        </div>
      </header>

      <main>
        <div class="container-two-thirds">
          <%= yield %>
        </div>
      </main>

    </div>
  </body>

</html>

<body>

